*,
*:before,
*:after {
    box-sizing: border-box;
}

.drumkit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drum-items {
    border: 2px solid green;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing {
    border: 5px solid blue;
}

span {
    margin-top: 1rem;
}